In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
from scipy import stats
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [12]:
#pip install ucimlrepo
from ucimlrepo import fetch_ucirepo 
import pprint
glass = fetch_ucirepo(id=42)
X = glass.data.features #atributi
Y = glass.data.targets #vrednosti za celnata promenliva

pprint.pp(glass.metadata)

{'uci_id': 42,
 'name': 'Glass Identification',
 'repository_url': 'https://archive.ics.uci.edu/dataset/42/glass+identification',
 'data_url': 'https://archive.ics.uci.edu/static/public/42/data.csv',
 'abstract': 'From USA Forensic Science Service; 6 types of glass; defined in '
             'terms of their oxide content (i.e. Na, Fe, K, etc)',
 'area': 'Physics and Chemistry',
 'tasks': ['Classification'],
 'characteristics': ['Multivariate'],
 'num_instances': 214,
 'num_features': 9,
 'feature_types': ['Real'],
 'demographics': [],
 'target_col': ['Type_of_glass'],
 'index_col': ['Id_number'],
 'has_missing_values': 'no',
 'missing_values_symbol': None,
 'year_of_dataset_creation': 1987,
 'last_updated': 'Thu Aug 10 2023',
 'dataset_doi': '10.24432/C5WW2P',
 'creators': ['B. German'],
 'intro_paper': None,
 'additional_info': {'summary': 'Vina conducted a comparison test of her '
                                'rule-based system, BEAGLE, the '
                                'nearest-neighbor algorithm, and discriminant '
                                'analysis.  BEAGLE is a product available '
                                'through VRS Consulting, Inc.; 4676 Admiralty '
                                'Way, Suite 206; Marina Del Ray, CA 90292 '
                                '(213) 827-7890 and FAX: -3189. In determining '
                                'whether the glass was a type of "float" glass '
                                'or not, the following results were obtained '
                                '(# incorrect answers):\r\n'
                                '\r\n'
                                'Type of Sample  -- Beagle -- NN -- DA\r\n'
                                'Windows that were float processed (87)  -- 10 '
                                '-- 12 -- 21\r\n'
                                'Windows that were not:            (76) -- 19 '
                                '-- 16 -- 22\r\n'
                                '\r\n'
                                'The study of classification of types of glass '
                                'was motivated by criminological '
                                'investigation.  At the scene of the crime, '
                                'the glass left can be used as evidence...if '
                                'it is correctly identified!',
                     'purpose': None,
                     'funded_by': None,
                     'instances_represent': None,
                     'recommended_data_splits': None,
                     'sensitive_data': None,
                     'preprocessing_description': None,
                     'variable_info': '1. Id number: 1 to 214\r\n'
                                      '2. RI: refractive index\r\n'
                                      '3. Na: Sodium (unit measurement: weight '
                                      'percent in corresponding oxide, as are '
                                      'attributes 4-10)\r\n'
                                      '4. Mg: Magnesium\r\n'
                                      '5. Al: Aluminum\r\n'
                                      '6. Si: Silicon\r\n'
                                      '7. K: Potassium\r\n'
                                      '8. Ca: Calcium\r\n'
                                      '9. Ba: Barium\r\n'
                                      '10. Fe: Iron\r\n'
                                      '11. Type of glass: (class attribute)\r\n'
                                      '     -- 1 '
                                      'building_windows_float_processed\r\n'
                                      '     -- 2 '
                                      'building_windows_non_float_processed\r\n'
                                      '     -- 3 '
                                      'vehicle_windows_float_processed\r\n'
                                      '     -- 4 '
                                      'vehicle_windows_non_float_processed '
                                      '(none in this database)\r\n'
                                      '     -- 5 containers\r\n'
                                      '     -- 6 tableware\r\n'
                                      '     -- 7 headlamps',
                     'citation': None}}

In [13]:
X

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0
..       ...    ...   ...   ...    ...   ...   ...   ...  ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0

[214 rows x 9 columns]

In [14]:
Y

     Type_of_glass
0                1
1                1
2                1
3                1
4                1
..             ...
209              7
210              7
211              7
212              7
213              7

[214 rows x 1 columns]